@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");
@font-face {
  font-family: "Mathilde";
  font-style: normal;
  font-weight: 400;
  src: local("Mathilde"), url("https://fonts.cdnfonts.com/s/12573/mathilde.woff") format("woff");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  font-family: Raleway, Arial, sans-serif;
  background: white;
  font-weight: 700;
  background: var(--background);
  color: var(--text);
}

a, button, input, textbox {
  font-family: Raleway, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

h1 {
  font-weight: 900;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.6;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: transparent;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.hide-blue {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: transparent;
}

.piracy {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.btn {
  padding: 0.5em 1em;
  color: #821331;
  background: transparent;
  border: 3px solid #821331;
  border-radius: 8888253992px;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  background: #821331;
  color: #FFFFFF;
}

h2.section_title {
  font-size: 2.5rem;
  color: #821331;
  position: relative;
  margin-bottom: 1.5em;
}
h2.section_title::after {
  content: ".";
  position: absolute;
}

.hide {
  display: none;
  visibility: hidden;
}

noscript div {
  min-height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
}
noscript div a {
  color: white;
  text-decoration: underline;
}

.top_outer {
  padding: 0.7em 0;
  background: #821331;
  color: #FFFFFF;
}
.top_outer a {
  color: #FFFFFF;
}

.top, .top_side {
  gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_outer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 5;
  padding: 1em 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  font-size: 3rem;
  font-weight: 700;
  font-family: Mathilde, serif;
}
.header_nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 1em;
}

.nav_link {
  color: #626262;
}
.nav_link-active {
  color: #821331;
  position: relative;
}
.nav_link-active::after {
  content: "";
  height: 3px;
  width: 10px;
  border-radius: 8888253992px;
  background: #821331;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3px);
}

.top_item[href]:hover .top_text {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .top_outer {
    padding: 1em 0;
  }
  .top, .top_side {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
.footer_outer {
  margin: 5em 0 0;
  background: #821331;
  color: #FFFFFF;
}
.footer_outer a {
  color: #FFFFFF;
}
.footer_outer .gavin:hover > .gavin_name {
  text-decoration: underline;
}

.main_outer {
  padding: 7em 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.main_title {
  color: #821331;
  font-size: 4rem;
}
.main_content {
  gap: 1.5em;
  display: flex;
  line-height: 0.9;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.main_desc {
  max-width: 40ch;
}
.main_hero {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 50vh;
}
.main_image_wrapper {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}
.main_image_wrapper:nth-of-type(1) {
  z-index: 2;
}
.main_image_wrapper:nth-of-type(2) {
  z-index: 3;
}
.main_image_wrapper:nth-of-type(3) {
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .main_title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 950px) {
  .main_outer {
    padding: 3em 0;
  }
  .main_inner {
    flex-direction: column;
  }
  .main_content {
    order: 2;
  }
  .main_content, .main_hero {
    width: 100%;
  }
  .main_hero {
    min-height: unset;
  }
  .main_image_wrapper {
    width: auto;
    margin: 0 auto;
  }
}
.tests_outer {
  padding: 6em 0 0;
}
.tests_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}

.test_detail {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.test_image {
  border-radius: 8888253992px;
  max-height: 90px;
}
.test_quote {
  margin-top: 1em;
  color: #2B0A13;
  position: relative;
}
.test_marks {
  height: 50px;
  padding-right: 3em;
}
.test_side {
  flex: 1;
}
.test_name {
  font-size: 1.5rem;
  color: #821331;
}
.test_desgn {
  color: #626262;
}

@media screen and (max-width: 1000px) {
  .tests_grid {
    grid-template-columns: 1fr;
  }
  .test {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .test_marks {
    display: none;
  }
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
.clients_image {
  max-height: 40px;
}

@media screen and (max-width: 1000px) {
  .clients_image {
    max-height: 30px;
  }
}
.about_outer {
  padding: 6em 0 0;
}
.about_content {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 4em;
}
.about_text {
  font-size: 1.1rem;
  line-height: 1.7;
}
.about_image {
  max-width: 45%;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .about_content {
    flex-direction: column;
  }
  .about_image {
    max-width: 60%;
  }
}
.services_outer {
  padding: 6em 0 0;
}
.services_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.services_btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em auto 0;
}

#service_1 {
  background: url("/img/services/product.jpg");
}
#service_2 {
  background: url("/img/services/food.jpg");
}
#service_3 {
  background: url("/img/services/architectural.jpg");
}

.service {
  text-align: center;
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.5rem;
  position: relative;
}
.service_text {
  filter: drop-shadow(0 1px 3px black);
  z-index: 2;
  position: relative;
}
.service:hover .service_text::after {
  display: block;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.45em;
  margin-top: 0.5em;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.75;
}
.service::after {
  content: "";
  background: rgba(130, 19, 49, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.service_image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center center;
}
.service:hover::after {
  background: rgba(130, 19, 49, 0.6);
}
.service:hover .service_image {
  transform: scale(1.15) rotate(-5deg);
}

@media screen and (max-width: 1000px) {
  .services_grid {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
  .service {
    max-width: 400px;
    margin: 0 auto;
  }
}
.contact_outer {
  padding: 6em 0 0;
}
.contact_grid {
  display: flex;
  grid-gap: 2em;
}
.contact_btn {
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .contact_grid {
    align-items: flex-start;
    flex-direction: column;
  }
}
.gallery_title {
  margin-bottom: 0.7em !important;
}
.gallery_outer {
  padding: 5em 0 0;
}
.gallery_filters {
  display: flex;
  grid-gap: 1em;
}
.gallery_filter {
  padding: 0.5em 0.8em;
  cursor: pointer;
  outline: none;
  border: none;
  color: #626262;
  background: #F4F4F4;
  border-radius: 8888253992px;
}
.gallery_filter-active {
  background: #C4C4C4;
  color: #2B0A13;
}

.gallery_grid {
  display: flex;
  margin-top: 3em;
  grid-gap: 12px;
  min-height: 55vh;
}

.gallery_column {
  flex: 1;
  flex-grow: 1;
}

.gallery_photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.gallery_column--2, .gallery_column--3 {
  display: none;
}

@media (min-width: 1000px) {
  .gallery_column--2 {
    display: block;
  }
}
@media (min-width: 1000px) {
  .gallery_column--3 {
    display: block;
  }
}
#lightbox {
  position: fixed;
  z-index: 6969;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
}/*# sourceMappingURL=styles.css.map */