<section class="footer_outer outer">
    <footer class="footer footer_inner inner">
        <div class="footer_left">
            <a class="footer_copyright" href="#">
                &copy; 2021 - Kelly Fizardo.
            </a>
        </div>
        <div class="footer_right">
            <a href="//gavinpereira.in" class="gavin" target="_blank">
                <i class="fas fa-code"></i> by <span class="gavin_name">Gavin Pereira</span>
            </a>
        </div>
    </footer>
</section>