.footer
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1em 0
    &_outer
        margin: 5em 0 0
        background: $primary
        color: $background
        a
            color: $background
        .gavin:hover > .gavin_name
            text-decoration: underline
