.inner
    width: 90%
    max-width: 1100px
    margin: 0 auto

.hide-blue
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    tap-highlight-color: transparent

.piracy
    position: absolute
    width: 100%
    height: 100%
    z-index: 2

.btn
    padding: 0.5em 1em
    color: $primary
    background: transparent
    border: 3px solid $primary
    border-radius: 8888253992px
    cursor: pointer
    text-align: center
    &:hover
        background: $primary
        color: $background

h2.section_title
    font-size: 2.5rem
    color: $primary
    position: relative
    margin-bottom: 1.5em
    &::after
        content: '.'
        position: absolute

.hide
    display: none
