---
title: Home
layout: 'base.njk'
---

{% include 'header.njk' %}


<section class="main_outer outer">
    <main class="main main_inner inner">
        <div class="main_content">
            <h1 class="main_title">
                Capturing the <br> beauty in  your  <br>products.
            </h1>
            <p class="main_desc">
                I’m Kelly Fizardo, a product photographer from the state of Goa.
            </p>
            <a href="/portfolio" class="main_btn btn">View Shots</a>
        </div>
        <div class="main_hero">
            <img src="/img/hero.png" alt="Hero" class="main_image">
        </div>
    </main>
</section>


<section class="clients_outer outer">
    <div class="clients clients_inner inner">
        <img src="/img/clients/c1.png" class="clients_image">
        <img src="/img/clients/c2.png" class="clients_image">
        <img src="/img/clients/c3.png" class="clients_image">
        <img src="/img/clients/c4.png" class="clients_image">
        <img src="/img/clients/c5.png" class="clients_image">
        <img src="/img/clients/c6.png" class="clients_image">
    </div>
</section>

<section style="height: 200vh"></section>