---
title: Home
layout: 'base.njk'
---

{% include 'header.njk' %}



<section class="main_outer outer">
    <main class="main main_inner inner">
        <div class="main_content">
            <h1 class="main_title">
                Capturing the <br> beauty in  your  <br>products.
            </h1>
            <p class="main_desc">
                I’m Kelly Fizardo, a product photographer from the state of Goa.
            </p>
            <a href="/portfolio" class="main_btn btn">View Shots</a>
        </div>
        <div class="main_hero">
            <img src="/img/hero_blank.png" alt="" srcset="">
            <div data-aos="fade-down" data-aos-delay="600" class="main_image_wrapper"><img src="/img/hero1.png" alt="Hero" class="main_image"></div>
            <div data-aos="fade-down" data-aos-delay="900" class="main_image_wrapper"><img src="/img/hero2.png" alt="Hero" class="main_image"></div>
            <div data-aos="fade-down" data-aos-delay="300" class="main_image_wrapper"><img src="/img/hero3.png" alt="Hero" class="main_image"></div>
        </div>
    </main>
</section>


<section class="clients_outer outer">
    <div class="clients clients_inner inner">
        <img src="/img/clients/c1.png" class="clients_image">
        <img src="/img/clients/c2.png" class="clients_image">
        <img src="/img/clients/c3.png" class="clients_image">
        <img src="/img/clients/c4.png" class="clients_image">
        <img src="/img/clients/c5.png" class="clients_image">
        <img src="/img/clients/c6.png" class="clients_image">
    </div>
</section>


<section class="about_outer outer">
    <div class="about about_inner inner">
        <h2 class="section_title about_title">
            About Me
        </h2>
        <div class="about_content">
            <img src="/img/kelly.jpg" alt="Kelly Fizardo" title="Kelly Fizardo" class="about_image">
            <div class="about_text">
                Someone wise once said, “do it with passion or not at all,” which is exactly what I live by. Photography has been my passion for as long as I can remember. 
            </div>
        </div>
    </div>
</section>


<section class="services_outer outer">
    <div class="services services_inner inner">
        <h2 class="section_title services_title">
            Services
        </h2>
        <div class="services_grid">
            <a class="service" href="/portfolio#product">
                <img src="/img/services/product.jpg" alt="" class="service_image">
                <span class="service_text">Product<br>Photography</span>
            </a>
            <a class="service" href="/portfolio#food">
                <img src="/img/services/food.jpg" alt="" class="service_image">
                <span class="service_text">Food<br>Photography</span>
            </a>
            <a class="service" href="/portfolio#architecture">
                <img src="/img/services/architecture.jpg" alt="" class="service_image">
                <span class="service_text">Architectural<br>Photography</span>
            </a>
        </div>
        <a href="/portfolio" class="services_btn btn">View Shots</a>
    </div>
</section>




<section class="tests_outer outer">
    <div class="tests tests_inner inner">
        <h2 class="section_title tests_title">
            Testimonials
        </h2>
        <div class="tests_grid">
            {% for test in testimonials %}
                <div class="test">
                    <div class="test_detail">
                        <img src="{{test.image}}" alt="{{test.name}}"  title="{{test.name}}" class="test_image">
                        <div class="test_side">
                            <h4 class="test_name">
                                {{test.name}}
                            </h4>
                            <p class="test_desgn">
                                {{test.desgn}}
                            </p>
                        </div>
                        <img src="/img/quote.svg" class="test_marks">
                    </div>
                    <blockquote class="test_quote">
                        {{test.quote}}
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="contact_outer outer">
    <div class="contact contact_inner inner">
        <h2 class="section_title contact_title">
            Contact
        </h2>
        <div class="contact_grid">
            {% for contact in contacts %}
                <a class="contact_btn btn" href="{{contact.link}}">
                    <i class="{{contact.class1}} {{contact.class2}} contact_icon"></i>
                    <span class="contact_title">{{contact.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'footer.njk' %}