---
title: Portfolio
layout: 'base.njk'
---

{% include 'header.njk' %}

<section class="gallery_outer outer">
    <div class="gallery gallery_inner inner">
        <h2 class="section_title gallery_title">
            Portfolio
        </h2>
        <div class="gallery_filters">
            <button class="gallery_filter gallery_filter-active">All</button>
            <button class="gallery_filter">Products</button>
            <button class="gallery_filter">Food</button>
            <button class="gallery_filter">Architecture</button>
        </div>
        <div class="gallery_grid">

            <div class="gallery_column gallery_column--1"></div>
            <div class="gallery_column gallery_column--2"></div>
            <div class="gallery_column gallery_column--3"></div>
            <div class="gallery_column gallery_column--4"></div>
            {% for image in gallery %}
                <img src="{{image.link}}" class="gallery_photo">
            {% endfor %}

        </div>
    </div>
</section>



{% include 'footer.njk' %}



<script src="/js/colcade.js"></script>
<script src="/js/gallery.js"></script>